@tailwind base;
@tailwind components;
@tailwind utilities;

.widget {
}

.widget-view {
    @apply bg-base-100 rounded-xl p-4 border shadow relative;
}

.widget-edit {
    @apply bg-base-100 rounded-xl p-4 border shadow relative;
}

.widget .widget-title {
    @apply font-bold;
}

.widget .widget-value {
    @apply text-4xl font-extrabold;
}

.widget .widget-table {
    @apply table;
}

.widget .widget-canvas {
    @apply my-2 grow flex;
}

.widget .widget-benchmark {
    @apply text-xs grid;
}

.widget .widget-trend {
    @apply grid grid-cols-2;
}

.widget .widget-trend .left {
    text-align: left;
    @apply text-xs grid;
}

.widget .widget-trend .right {
    text-align: right;
    @apply text-xs grid;
}

.widget-toggle {
    text-align: right;
}

.widget-edit-title {
    @apply font-bold;
}

.widget-edit {
    @apply pb-2;
}

.widget .label-text {
    @apply text-sm;
}

.widget .select {
    @apply text-sm;
}

.widget .input {
    @apply text-sm;
}

.widget .btn-xs {
    @apply text-[12px];
}
